{% extends 'foodlust/base.html' %}
{% block body %}

<h1>Profile</h1>
<div class='row'>
    <div class ='col-md-4'>
    <h2>Info</h2>
        <p><span class='bold_profile'>User:</span></br> {{ username }}</p>
        <p><span class='bold_profile'>First Name:</span></br> {{ first_name }}</p>
        <p><span class='bold_profile'>Last Name:</span></br> {{ last_name }}</p>
        <p><span class='bold_profile'>Email:</span></br> {{ email }}</p>
    </div>
    <div class ='col-md-4'>    
        <h2>My Meals</H2>
        {% for meal in meals %}
        <a href="{% url 'meal' pk=meal.id %}">{{ meal.title }}</a></br>
        {% endfor %}
    </div>
    <div class ='col-md-4'>
        <h2>Following</h2>
        {% for member in follows %}
        <h4>{{ member }}</h4>
        <a href="{% url 'meals_by_user' username=member %}">{{ member }}'s meals</a><br>
        <a href="{% url 'stop_follow_user' usertostopfollow=member %}">Unfollow</a> 
        {% endfor %}
        <p>
        <h2>Followers</h2>
        {% for member in followers %}
        <h4>{{ member }}</h4>
        <a href="{% url 'meals_by_user' username=member %}">{{ member }}'s meals</a><br>        
        {% endfor %}
    </div>

</div>
<button class='btn btn-default'><a href="{% url 'member_edit' %}">Edit</a></button>

{% endblock %}
