{% extends 'foodlust/base.html' %}
{% load static %}
{% block component_css %}
<link rel="stylesheet" href="{% static '/css/style.css' %}">
{% endblock %}

{% block body %}
<h1>Meals by Username</h1>

{% for meal in object_list %}
    {% if forloop.counter0|divisibleby:3 %}
        <div class="row">
    {% endif %}
    <div class='col-md-4'>
        <div class="meal-rectangle-list">
            <div class="container">
                <h2 class="meal-title-list"><a href="/meals/{{meal.pk}}">{{ meal.title }}</a></h2>
                <a href="meals/{{meal.pk}}"><img class="meal-img-list" src="{{ meal.photo.url }}"></a>
                <p>Member: {{ meal.member.username }}</p>
                {% if meal.percent >= 0 %}
                    <p>Rating: {{ meal.percent }}%</p>
                {% else %}
                    <p>Not yet rated</p>
                {% endif %}
                <p><a href="/meals/{{ meal.pk }}/liked/">Like <i class="fa fa-lg fa-thumbs-o-up"></i></a><a class="float-right" href="/meals/{{ meal.pk }}/disliked">Dislike <i class="fa fa-lg fa-thumbs-o-down"></i></a></p>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 and not forloop.last %}
            </div>
        {% endif %}
        {% if forloop.last %}
            </div>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}
