{% extends 'foodlust/base.html' %}
{% block body %}
<div class="container">
<div class="meal-rectangle-detail">
        <h1 class="meal-title-detail text-xs-center p-a-2">{{ object.title }}</h1>
        <div class="view hm-zoom">
          <img class="meal-img-detail" src="{{ object.photo.url }}">
        </div>

        <div class="container">
          <p>Member: {{ object.member.username }}</p>
          <p>Upload date: {{ object.date_created|date:'d M Y' }}</p>
            {% if meal.percent >= 0 %}
            <p>Rating: {{ meal.percent }}%</p>
            {% else %}
            <p>Not yet rated</p>
            {% endif %}</p> 
            </div>
        <div class="container">
          <a href="{{ object.pk }}/liked/">Like <i class="fa fa-lg fa-thumbs-o-up pull-xs-left"></i></a><a class="pull-xs-right" href="{{ object.pk }}/disliked">Dislike <i class="fa fa-lg fa-thumbs-o-down"></i></a></p>
        </div>

        <hr>
        <p>Comments:</p>
        {% for comment in comments %}
        <p><strong>{{ comment.user.username }}</strong> says: {{ comment.message }}</p>
        {% endfor %}
        <form action ='' method="POST">{% csrf_token %}
          {{ form.as_p }}
          <input class="btn btn-default" type="submit" value="Add Comment">
        </form>
    </div>
</div>
{% endblock %}
