{% extends 'foodlust/base.html' %}
{% block body %}
<h1></h1>
<div class="meal-rectangle-detail">
    <div class="container">
        <h1 class="meal-title-detail">{{ object.title }}</h1>
        <img class="meal-img-detail" src="{{ object.photo.url }}">
        <p>Member: {{ object.member.username }}</p>
        <p>Upload date: {{ object.date_created|date:'d M Y' }}</p>
        <p>Rating: {{ object.percent }}</p>
        <p><a href="{{ object.pk }}/liked/">Like <i class="fa fa-lg fa-thumbs-o-up"></i></a><a class="float-right" href="{{ object.pk }}/disliked">Dislike <i class="fa fa-lg fa-thumbs-o-down"></i></a></p>
    </div>
</div>
{% endblock %}